<ion-app>
  <ion-router-outlet></ion-router-outlet>

<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="poste">
      <ion-icon name="mail-outline"></ion-icon>
      Poste
    </ion-tab-button>
    <ion-tab-button tab="buddybank">
      <ion-icon name="logo-euro"></ion-icon>
      Buddy
    </ion-tab-button>
    <ion-tab-button tab="paypal">
      <ion-icon name="logo-paypal"></ion-icon>
      PayPal
    </ion-tab-button>
    <ion-tab-button tab="contanti">
      <ion-icon name="cash-outline"></ion-icon>
      Contanti
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-app>