<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="poste">
        <ion-icon name="mail-outline"></ion-icon>
        Poste
      </ion-tab-button>
      <ion-tab-button tab="buddybank">
        <ion-icon name="logo-euro"></ion-icon>
        Buddy
      </ion-tab-button>
      <ion-tab-button tab="paypal">
        <ion-icon name="logo-paypal"></ion-icon>
        PayPal
      </ion-tab-button>
      <ion-tab-button tab="contanti">
        <ion-icon name="cash-outline"></ion-icon>
        Contanti
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-fab slot="fixed" vertical="bottom" style="margin-bottom: 20%;" horizontal="end">
    <ion-fab-button size="small" id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start" style="margin-left: 5%;">
            <ion-icon name="arrow-back-outline" size="large" (click)="cancel()"></ion-icon>
          </ion-buttons>
          <ion-title>Nuovo movimento</ion-title>
          <!--ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons-->
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <p>
        <ion-list>
          <ion-radio-group [allowEmptySelection]="false" value="tipologia">
            <ion-item>
              <ion-label>Poste</ion-label>
              <ion-radio slot="end" value="poste"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>BuddyBank</ion-label>
              <ion-radio slot="end" value="buddybank"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>PayPal</ion-label>
              <ion-radio slot="end" value="paypal"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Contanti</ion-label>
              <ion-radio slot="end" value="contanti" checked></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        </p>

        <ion-item>
          <ion-label position="stacked">Causale</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-app>